.card{
    background: rgb(141, 120, 120);
    box-shadow: 0 0px 4pxc rgba(0, 0, 0, 0.26);
    border-radius: none;
    border-style: linear-gradient;
    width: 50vh;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    
    
    
}

element.style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



